<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <script>
        angular.module("myApp", []).controller("myController", function($scope){
            $scope.collection = [
                {name: "Priya", city: "Fremont", company: "TCS", no: 22},
                {name: "Mansi", city: "San Jose", company: "HCL", no: 7},
                {name: "Ramya", city: "Sunnyvale", company: "TCS", no: 4},
                {name: "Lakshmi", city: "San Mateo", company: "Apple", no: 5},
                {name: "Balaji", city: "Fremont", company: "Google", no: 90},
                {name: "Rekha", city: "San Francisco", company: "FB", no: 39},
                {name: "Disha", city: "San Jose", company: "Google", no: 7}
            ];
            $scope.limit = 5;
            $scope.addData = function(){
                $scope.collection.push($scope.newData);
                $scope.newData = '';
            }
        })
    </script>
</head>
<body>
 <div ng-controller="myController">
   <!--  <ul>
         <li ng-repeat="value in collection">{{value.name}}</li>
     </ul>-->
     Strict: <input type="checkbox" ng-model="strict"/>
     Search Name: <input type="text" ng-model="search.name"/>
     Search City: <input type="text" ng-model="search.city"/>
     Search Company: <input type="text" ng-model="search.company"/>
     Search Number: <input type="number" ng-model="search.no"/>
     Limit: <input type="number" ng-model="limit"/>

     <br><br>
     <table>
         <tr>
             <th>Number</th>
             <th>Name</th>
             <th>City</th>
             <th>Company</th>
             <th>Lucky Number</th>
         </tr>
         <tr ng-repeat="value in collection | limitTo: limit| filter:search: strict ">
             <td>{{$index+1}}</td>
             <td>{{value.name}}</td>
             <td>{{value.city}}</td>
             <td>{{value.company}}</td>
             <td>{{value.no}}</td>
         </tr>
     </table>
     <h1>Total entry: {{collection.length}}</h1>
     <form  ng-submit="addData()">
        Name: <input type="text" ng-model="newData.name" required/>
        City: <input type="text" ng-model="newData.city" required/>
        Company: <input type="text" ng-model="newData.company" required/>
        Lucky Number: <input type="number" ng-model="newData.no" required/>
         <input type="submit" value="Add">
     </form>
 </div>
</body>
</html>